.header{
	width: 100%;
	position: absolute;
	top: 40px;
	z-index: 2;
}

.menu{

}

.menu__items{
	margin-bottom: 0;
	padding-left: 0;
	color: var(--white-text-color);
	font-size: 1rem;
}

.menu__item{
	list-style-type: none;
}

.menu__link{
	color: var(--white-text-color);
}

.menu__link:hover{
	text-decoration: none;
	color: var(--hover-text-color);
}

.social{

}

.social__item{
	width: 25px;
	height: 25px;
}

.social__inst{
	background-image: url(../img/icon/1438557260_inst_4.png);
}

.social__face{
	background-image: url(../img/icon/1438557245_ab_4.png);
}

.social__vk{
	background-image: url(../img/icon/1438423986_vk_3.png);
}

.social__item:hover{
	background-position: 0 50px;
}

.social__item:active{
	background-position: 0 25px;
}

.social__link{

}

.contacts{

}

.contacts__item{
	text-align: end;
	font-size: 0.9rem;
}

.contacts__tel{
	color: var(--white-text-color);
}

.contacts__tel:hover{
	text-decoration: none;
	color: var(--hover-text-color);
}

.promo{
	padding-top: 40px;
	background: url(../img/bg-main.png);
	height: 660px;
}

.logo{
	margin-top: 170px;
}

.logo__img{

}

.logo__title{
	color: var(--white-text-color);
	font-size: 1.2rem;
}

.logo__subtitle{
	text-decoration: underline;
	color: var(--golden-text-color);
}

.main{

}

/* .main__container{
	max-width: 640px;
	margin: 0 auto;
} */

.main__header{
	padding: 65px 120px 20px;
	background-color: var(--white-bg-color);
	position: relative;
	overflow: hidden;
}

.main__header_title{
	margin-bottom: 50px;
}

.main__header_desc{
	font-size: 1.1rem;
}

.main__ribbon{
	transform: rotate(-41deg);
	position: absolute;
	width: 250px;
	padding: 5px 0;
	left: -50px;
	top: 50px;
	color: var(--white-text-color);
	background-color: var(--pink-bg-color);
	box-shadow: 0 2px 10px var(--black-bg-color);
}

.main__img{
	background-color: var(--white-bg-color);
}

.main__img img{
	width: 100%;
	height: auto;
}

.main__img-desc{
	padding: 10px;
	color: var(--black-text-color);
}

.main__desc{
	background-color: var(--white-bg-color);
}

.main__desc_title{
	color: var(--black-text-color);
	font-size: 2.5rem;
	/* margin-bottom: 50px; */
}

.main__desc_items{
	padding-left: 0;
}

.main__desc_item{
	list-style-type: none;
	padding-top: 35px;
}

.white{
	background-color: var(--white-bg-color);
}