.header{
	width: 100%;
	position: absolute;
	top: 40px;
	z-index: 2;
}

.menu{

}

.menu__items{
	margin-bottom: 0;
	padding-left: 0;
	color: var(--white-text-color);
	font-size: 1rem;
}

.menu__item{
	list-style-type: none;
}

.menu__link{
	color: var(--white-text-color);
}

.menu__link:hover{
	text-decoration: none;
	color: var(--hover-text-color);
}

.social{

}

.social__item{
	width: 25px;
	height: 25px;
}

.social__inst{
	background-image: url(../img/icon/1438557260_inst_4.png);
}

.social__face{
	background-image: url(../img/icon/1438557245_ab_4.png);
}

.social__vk{
	background-image: url(../img/icon/1438423986_vk_3.png);
}

.social__item:hover{
	background-position: 0 50px;
}

.social__item:active{
	background-position: 0 25px;
}

.social__link{

}

.contacts{

}

.contacts__item{
	text-align: end;
	font-size: 0.9rem;
}

.contacts__tel{
	color: var(--white-text-color);
}

.contacts__tel:hover{
	text-decoration: none;
	color: var(--hover-text-color);
}

.promo{
	padding-top: 40px;
	background: url(../img/bg-main.png);
	height: 660px;
}

.logo{
	margin-top: 170px;
}

.logo__img{

}

.logo__title{
	color: var(--white-text-color);
	font-size: 1.2rem;
}

.logo__subtitle{
	text-decoration: underline;
	color: var(--golden-text-color);
}

.main{

}

.main__header{
	padding: 65px 120px 20px;
	position: relative;
	overflow: hidden;
}

.main__header_title{
	margin-bottom: 50px;
}

.main__header_desc{
	font-size: 1.1rem;
}

.main__ribbon{
	transform: rotate(-41deg);
	position: absolute;
	width: 250px;
	padding: 5px 0;
	left: -50px;
	top: 50px;
	color: var(--white-text-color);
	background-color: var(--pink-bg-color);
	box-shadow: 0 10px 20px var(--box-shadow-color);
}

.main__img{
}

.main__img img{
	width: 100%;
	height: auto;
}

.main__img-desc{
	padding: 10px;
	color: var(--black-text-color);
}

.main__desc{
}

.main__desc_title{
	color: var(--black-text-color);
	font-size: 2.5rem;
	/* margin-bottom: 50px; */
}

.main__desc_items{
	padding-left: 0;
}

.main__desc_item{
	list-style-type: none;
	padding-top: 35px;
}

.main__table{
	width: 100%;
	background-color: var(--yellow-bg-color);
	border: 2px solid var(--orange-border-color);
	border-collapse: collapse;
}

.main__table_th{
	background-color: var(--orange-bg-color);
	border: 2px solid var(--orange-border-color);
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 0.8rem;
}

.main__table_td{
	border: 2px solid var(--orange-border-color);
	padding: 10px 15px;
	font-weight: bold;
	font-size: 0.7rem;
	vertical-align: top;
}

.main__table_btn{
	background-color: var(--black-bg-color);
	color: var(--white-text-color);
	border: 1px solid var(--black-bg-color);
	margin-top: 20px;
	padding: 5px 10px;
}

.main__table_btn:hover{
	background-color: var(--yellow-bg-color);
	color: var(--black-text-color);
}


.main__table_rate{
	background-color: var(--yellow-bg-color);
	border: 1px solid var(--black-bg-color);
	color: var(--black-text-color);
	font-size: 0.8rem;
	margin-top: 20px;
}

.main__table_rate:hover{
	background-color: var(--black-bg-color);
	color: var(--white-text-color);
}

.main__table_simbol{
	font-size: 1.5rem;
}

.books__wrap{
	margin: 20px 0 60px;
}

.books__img{
	width: 100%;
	height: auto;
}

.services{

}

.services__title{
	margin-bottom: 30px;
}

.card{
	border: 2px solid var(--grey-border-color);
	padding: 30px;
	height: 465px;
}

.card:hover{
	border-color: var(--active-border-color);
	box-shadow: 0 0 20px var(--box-shadow-color);
}

.card__title{
	font-size: 1.5rem;
	margin-bottom: 25px;
}

.card__title-span{
	font-size: 1rem;
	margin-bottom: 10px;
}

.card__subtitle{
	margin-bottom: 15px;
}

.card__old-price{
	position: relative;
	margin-bottom: 5px;
}

.card__old-price:before {
	border-bottom: 1px solid var(--pink-bg-color);
	position: absolute;
	content: "";
	top: 41%;
	left: 36%;
	width: 27%;
	transform: rotate(-12deg);
}



.card__price{
	margin-bottom: 20px;
	font-size: 1.2rem;
}


.card__btn{
	padding: 10px 50px;
	background-color: var(--pink-bg-color);
	color: var(--white-text-color);
	border: 1px solid var(--pink-bg-color);
	border-radius: 5px;
}